*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}

body, html {
  background: $colorMainBgr;
  color: $colorMainText;
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: 1.5rem;
  font-weight: $fontWeight_Thin;
  overflow: hidden;
}

input, select, button, textarea, .btn {
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  font-family: $fontFamily;
  font-size: 1rem;
  font-weight: $fontWeight_Thin;
  padding: .5rem .6rem;
  border-radius: .2rem;
  margin: 0;

  &:required, &:invalid {
    box-shadow: none;
  }

  &.dirty {
    background: $colorDirtyInputBgr;
  }

  &[type="search"] {
    border-radius: 12px;
    height: 24px;
    padding: 0 .5rem;
  }

  &[type="text"] {
    display: block;
  }

  &:focus { outline: none !important; }
  &::-moz-focus-inner { border: 0 !important; }
}

button {
  cursor: pointer;
}

select {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAhCAYAAABX5MJvAAAA4UlEQVRYhe3WMQ6CMABA0Y9xcHDVlBM5OXsC4xXcvImzg/EQTNykHZx0JcHFxkKQtpQGhv5OtCG8pElLVlMzdYupAZAQvxJClxC6WSCW5kMu8jNwAVYRvlUBV6nkqb2QmSdmLvI3sI4AMNtIJZ/mRHs77pEBRRvQhTgCj0iAEth3LTQQUskKOESAlMBOKvmyIiJBegGdiJEhVsBfxEgQJ0AvIhDiDLAiBkK8AE4IT4g3wBnhCBkE8EJYIIMB3ogW5PadKkIAANQBQwixDXlfj8YtOlWz+KlJCF1C6BJCNwvEB8RnttABpb3tAAAAAElFTkSuQmCC);
  background-size: 12px;
  background-position: calc(100% - 8px) 50%;
  padding-right: 26px;
  background-repeat: no-repeat;
}

strong {
  font-weight: 500;
}

.hidden {
  display: none;
}

input[type="checkbox"] {
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 0;
  background: transparent;
  color: #555;
  clear: none;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  height: 16px;
  margin: -4px 4px 0 0;
  outline: 0;
  padding: 0!important;
  text-align: center;
  vertical-align: middle;
  width: 16px;
  min-width: 16px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  background: #fff;

  &:before {
    font-family: FontAwesome;
    color: $colorHighlight;
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    line-height: 1.3rem;
    text-align: center;
  }

  &:checked {
    &:before {
      content: "\f00c";
    }
  }

  &:indeterminate {
    &:before {
      content: "\f068";
    }
  }
}

a {
  text-decoration: none;
  cursor: pointer;

  &:link, &:visited {
    color: $colorLink;
  }

  &:hover, &:focus {
    color: $colorHighlight;
  }
}

.clear, .clearfix {
  &::after {
    content: " ";
    clear: both;
    display: block;
  }
}

.side {
  width: 256px;
}

.ir {
  color: transparent;
  font: 0/0 serif;
}

.control {
  cursor: pointer;
  color: $colorLink;

  &:hover {
    color: $colorLinkHovered;
  }
}

p {
  line-height: 1.5rem;
}

em {
  font-style: italic;
}

.help {
  opacity: .7;
  font-size: .9rem;
  line-height: 1.3rem;
}

label {
  font-size: 1.1rem;
  margin-bottom: 8px;
  display: block;

  &.small {
    font-size: 1rem;
  }
}



.tabs {
  [role=tablist] {
    $tabColor: #5c5c5c;
    border-bottom: 1px solid $tabColor;

    [role=tab] {
      padding: .6rem 1rem;
      margin-left: 4px;
      border-radius: 4px 4px 0 0;
      background: transparent;
      text-transform: uppercase;
      color: lighten($tabColor, 50%);
      opacity: .4;
      border: 1px solid $tabColor;
      margin-bottom: -1px;
      float: left;

      &[aria-selected=true] {
        border-bottom: 1px solid $colorExtraBgr;
        opacity: 1;
      }
    }
  }

  .panes {
    padding: 16px 0;
  }

  &.tabs-white {
    [role=tablist] {
      border-bottom-color: #aaa;

      [role=tab] {
        color: #333;
        border-color: #aaa;

        &[aria-selected=true] {
          border-bottom-color: #fff;
        }
      }
    }
  }
}

.form-row {
  margin-top: 16px;
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, .7);

  @include vertical-center();

  form {
    $borderRadius: 5px;

    position: relative;
    width: 460px;
    background: #fff;
    border-radius: $borderRadius;
    color: #333;

    input[type="checkbox"] {
      border: 1px solid #ccc;
    }

    .form-row:first-child {
      margin-top: 0;
    }

    > header, > div, > footer {
      padding: 16px;
    }

    > div {
      padding-bottom: 0;
    }

    input[type="text"], input[type="number"], input[type="email"], input[type="password"],
    input[type="url"], input[type="date"], textarea, select {
      border: 1px solid #ccc;
      width: 100%;
      max-width: 100%;
      height: 32px;

      &:focus {
        border-color: $colorOrange;
      }
    }

    .warning {
      color: #f00;
    }

    textarea {
      min-height: 192px;
    }

    > header {
      display: flex;
      background: #eee;
      border-radius: $borderRadius $borderRadius 0 0;

      h1 {
        font-size: 1.8rem;
        line-height: 2.2rem;
        margin-bottom: .3rem;
      }
    }
  }
}

.font-size- {
  &0 {
    font-size: 0;
  }
}
