:root {
  --color-white: #fff;
  --color-white-darker: #f7f7f7;
  --color-maroon: #bf2043;
  --color-green: #56a052;
  --color-green-darker: #447e41;
  --color-blue: #0191f7;
  --color-blue-darker: #0173c4;
  --color-red: #c34848;
  --color-red-darker: #a33535;
  --color-orange: #ff7d2e;
  --color-orange-darker: #fa5e00;
  --color-grey: #3c3c3c;
  --color-grey-darker: #232323;
  --color-grey-lighter: #a0a0a0;

  --color-background-main: #181818;
  --color-background-secondary: #282828;
  --color-background-panes: #212121;

  --color-context-menu-background: #282828;
  --color-context-menu-border: #444;

  --font-family: system, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-normal: 500;

  --header-height: 48px;
  --footer-height: 64px;
  --footer-height-mobile: 74px;
  --extra-panel-width: 334px;
}

$plyr-blue: var(--color-orange);
$plyr-control-color: var(--color-orange);
$plyr-control-color-hover: var(--color-orange);
$plyr-control-bg-hover: var(--color-orange);
$plyr-volume-track-height: 6px;
$plyr-control-spacing: 6px;
